<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Fashion AI</title>
	<meta name="description" content="Thoughts, reviews and ideas since 1999." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" type="text/css" href="css/screen.css" />
	<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
	<style>
		.result {
			background-color: green;
			color: #fff;
			padding: 20px;
		}

		.row {
			border: 2px solid black;
			border-radius: 20px;
			width: 500px;
			height: 500px;
			margin: 0 auto;
			display: flex;
			margin-top: 50px;
			box-shadow: 0 0 1px 1px
		}

		.row:hover {
			margin-top: 40px;
			box-shadow: 0 3px 15px 3px #888888;
		}

		.col {
			width: 500px;
			margin: 0 auto;
			text-align: center;
		}

		#qna {
			margin-top: 50px;
			box-shadow: 0 0 1px 1px
		}

		#qna:hover {
			margin-top: 40px;
			box-shadow: 0 3px 15px 3px #888888;
		}

		.word1 {
			position: absolute;
			font-size: 50px;
			font-weight: bolder;
			top: 50%;
			left: 40%;
			transform: translate(-50%, -50%);
			width: 250px;
		}

		.word2 {
			position: absolute;
			font-size: 50px;
			font-weight: bolder;
			top: 50%;
			left: 62%;
			transform: translate(-50%, -50%);
			width: 250px;
		}

		.imgs {
			width: 100%;
			height: 100%;
			opacity: 0.6;
			border-radius: 20px;
		}
		.imgs:hover {
			width: 100%;
			height: 100%;
			opacity: 1;
		}

		.imgdiv {
			width: 500px;
			height: 450px;
			position: absolute;
		}

		.worddiv {
			position: absolute;
			width: 350px;
			height: 250px;
			text-align: center;
			/* background-color: darkgrey; */
		}
	</style>
</head>

<body class="home-template">
	<div class="site-wrapper">
		<nav class="main-nav overlay clearfix">
			<a class="blog-logo" href="https://equallin.github.io/"><img src="img/logo.png"
					alt="super AI salesman" /></a>
			<ul id="menu">
				<li class="nav-home nav-current" role="presentation"><a href="../index.html">scan
						QR-code</a></li>
				<li class="nav-home nav-current" role="presentation"><a href="../index.html">Scan
						Result</a></li>
				<li class="nav-home nav-current" role="presentation"><a href="#">Today's Pick Up</a></li>
				<li class="nav-home nav-current" role="presentation"><a href="#"></a></li>
				<li class="nav-home nav-current" role="presentation"><a href="#"></a></li>
				<li class="nav-home nav-current" role="presentation"><a href="#"></a></li>
				<span class="socialheader">
					<a href="#"><span class='symbol'>circletwitterbird</span></a>
					<a href="#"><span class='symbol'>circlefacebook</span></a>
					<a href="#"><span class='symbol'>circlegoogleplus</span></a>
					<a href="mailto:"><span class='symbol'>circleemail</span></a>
				</span>
			</ul>
		</nav>
		<div style="position: relative;text-align: center;background-color: rgb(190, 190, 190);">
			<img src="img/pic.png" style="height: 100%;">
			<div class="word1">
				<h2>FUTURE FASHION.</h2>
				<h6>I love casual wear because it's comfortable and you can express yourself!<br>
					People usually wear smart
					casual when they go to a restaurant in the evening.</h6>
			</div>
			<div class="word2">
				<h1>AutoOutfit</h1>
			</div>
		</div>
	<h6 style="margin-left: 30px;color: black;">The AI that fashion is using to reinvent itself.-- AIEN12</h6><hr>
	<div style="height: 2000px;position: relative;">
		<div style="background-color: antiquewhite;width: 80%;height: 80%;margin: 0 auto;">
			<div class="imgdiv" style="margin: 5% -2%;"><img class="imgs" src="img/pickup1.png"></div>
			<div class="worddiv" style="float: right;margin: 10% 48%;">
				<a href="https://www.uniqlo.com/tw/store/feature/mamekurogouchi/21ss/women/?ref=L1_specialcollaboration_01">
					<img style="width: 250px;" src="/assets/img/pick-1.png">
				</a>
				<h6>2021 Brand new co-branded wear</h6>
				<h6>我們相信每天生活中微小的舒適和美麗累積起來，最終會帶來巨大的變化</h6>
			</div>
			<div class="imgdiv" style="margin: 40% 48%;"><img class="imgs" src="img/pickup2.jpeg"></div>
			<div class="worddiv" style="float: left;margin: 50% 5%;">
				<a href="https://www.uniqlo.com/tw/store/feature/ut/atsumori/?ref=L1_utcollection_03">
					<img style="width: 250px;" src="/assets/img/pick-2.png">
				</a>
				<h4>Animal Crossing New Horizons</h4>
				<h6>讓您在與現實時間相同的無人島上，享受自由自在的慢節奏生活</h6>
			</div>
			<div class="imgdiv" style="margin: 75% -2%;"><img class="imgs" src="img/pickup3.png"></div>
			<div class="worddiv" style="float: right;margin: 90% 48%;">
				<a href="https://www.uniqlo.com/tw/news/topics/2021060201/">
					<img style="width: 250px;" src="/assets/img/pick-3.png">
				</a>
				<h6>smart casual 潮舒服</h6>
			</div>
		</div>
	</div>
	<div>
		<footer class="site-footer clearfix">
			<a href="#top" id="back-to-top" class="back-top"></a>
			<div class="text-center">
				<a href="index.html">Fashion AI salesman</a> &copy; 2021<br />
				by <a href="">AIEN12第四組</a>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/masonry.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>

</html>